*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 70%;
    height: 100vh;
    margin: 0 auto;
    background-color:#f0f4fd4b;
    font-family: 'Poppins', sans-serif;
}

button{
    border-radius: 5px;
    padding: 10px 11px;
    color: white;
    border: none;
}

/* -------------- HEADER -------------- */

header{
    width: 100%;
    background-image: url(../img/mister-m-wAelo9Ftb78-unsplash.jpg);
    background-size: cover;
    background-position: center; 
}

/* top-header */
.logo{
    text-align: center;
    padding-top: 30px;
}
.logo img{
    max-width: 200px
}

/* bottom-header */
.bottom-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 0 20px;
    padding: 20px;
}

/* div with the date: day + month */
.bottom-header .date{
    display: flex;
    align-items: center;
}

.bottom-header .date .day>i{
    font-size: 60px;
    color:whitesmoke;
}

.bottom-header .date .day{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#day{
    position: absolute;
    bottom: 0px;
    color: #409ee4;
    font-weight: bold;
    font-size: 28px;
}

#month{
    font-size: 40px;
    color:#ed6d62;
    padding-left: 10px;
}

/* USER photo */
.bottom-header .photo-user{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    border:2px solid #dee3ea;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-header .photo-user>i{
    font-size: 50px;
    color:#dee3ea
}

/* Setting icons */
.bottom-header .setting-icons{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-header .setting-icons>i{
    font-size: 25px;
    color:whitesmoke;
}

/* div with input + button */
.add-todo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0 20px 0;
}

.add-todo>input{
    border-radius: 5px;
    padding: 7px 5px;
    border: 1px solid #b3c0d3;
    font-family: 'Poppins', sans-serif;
    margin: 0 10px;
}

.add-todo>input:focus-visible{
    outline-color: #6270ed;
}

.add-todo>button{
    background-color: #6270ed;
}

/* div with 'to do' items */
.todo-list ul{
    margin : 0 20px
}

.todo-list ul li{
    list-style: none;
    background-color: #f0f4fd;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
    border-radius: 5px;
    padding:  5px 20px;
}

.todo-list ul li span{
    margin-left: 10px;
    color:#566b8c;
}

/* Class added to span on click of li*/

.line{
    text-decoration: line-through;
}

.todo-list ul li button{
    background-color: #ff4444;
}

h3{
    padding:  5px 20px;
    background-color:#f0f4fd ;
    color:#566b8c;
}

/* hover */

.bottom-header .setting-icons>i:hover{
    color: #dee3ea;
}

.add-todo>button:hover{
    background-color:  #4355f5;
}

.todo-list ul li button:hover{
    background-color: #fd1b1b
}

.todo-list ul li:hover{
    background-color: #dfe8ffda;
}


/* RESPONSIVE */

@media only screen and (max-width: 1300px) {
    .bottom-header .setting-icons{ width: 22%;}
}

@media only screen and (max-width: 1000px) {
    .bottom-header .setting-icons{ width: 28%;}
}

@media only screen and (max-width: 860px) {
    .container{ width: 90%;}

    .bottom-header .setting-icons{ width: 25%;}
}

@media only screen and (max-width: 680px) {
    .bottom-header .date{ 
        flex-direction: column;
    }

    #month{
        font-size: 20px;
        padding-left: 0px;
    }

    .bottom-header .setting-icons{
        width: 20%;
    }


    .bottom-header .setting-icons i{
        font-size: 18px;
    }
}