<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet"> 
    <!-- My css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- CDN Font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- CDN Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>

    <div id="app" class="container">

        <!-- start header -->
        <header>

            <!-- start top-header -->
            <div class="top-header">

                <!-- start div with logo -->
                <div class="logo">
                    <img src="img/logo-boolean.png" alt="">
                </div>
                <!-- end div with logo -->

            </div>
            <!-- end top-header -->

            <!-- start bottom-header -->
            <div class="bottom-header">

                <!-- start date -->
                <div class="date">

                    <!-- start day -->
                    <div class="day">
                        <i class="fas fa-calendar"></i>
                        <div id="day"></div>
                    </div>
                    <!-- end day -->

                    <!-- start month -->
                    <div class="month">
                        <h2 id="month"></h2>
                    </div>
                    <!-- end month -->

                </div>
                <!-- end date -->

                <div class="photo-user">
                    <i class="fas fa-user"></i>
                </div>

                <!-- start setting-icons -->
                <div class="setting-icons">
                    <i class="far fa-calendar-alt"></i>
                    <i class="fas fa-palette"></i>
                    <i class="fas fa-cog"></i>
                </div>
                <!-- start setting-icons -->

            </div>
            <!-- end bottom-header -->
        
        </header>
        <!-- end header -->

        

         <!-- start div with input + button -->
         <div class="add-todo">
            <input type="text" placeholder="Write new to do item..." v-model="newToDo" @keyup.enter ="addNewTask">
            <button @click="addNewTask"><i class="fas fa-plus"></i></button>
        </div>
        <!-- end div with input + button -->

        <!-- start div with 'to do' items -->
        <div class="todo-list" v-if="toDoList.length > 0">
            <ul>
                <li class="todo-item" v-for="(item, index) in toDoList">
                    <span> {{item}}</span>
                    <button @click="removeTask(index)"><i class="fas fa-trash-alt"></i></button>
                </li>
            </ul>
        </div>
        <h3 v-else>Non ci sono to-do...</h3>
        <!-- end div with 'to do' items -->

    </div>

    <script src="js/script.js"></script>

    
</body>
</html>

